<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카테고리 추가</title>
    <link rel="stylesheet" href="/mazer/assets/compiled/css/app.css">
    <link rel="stylesheet" href="/mazer/assets/compiled/css/app-dark.css">
    <link rel="stylesheet" href="/mazer/assets/compiled/css/iconly.css">
    <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>
    <script>
        //$(document).ready(function(){
        //    // Jquery 는 html 문서가 로딩이 완료 되면 이 부분을 실행한다.
        //});

        function categoryInsert() {
            let name = $("#name").val();
            let ret = confirm(name + " 추가 하시겠습니까 ?");
            return ret;
        }
    </script>
</head>
<body>
<form id="form" name="form" method="post" action="/catweb/category_insert" onsubmit="return categoryInsert();">
    <label for="id"></label><input type="number" id="id" name="id"/>
    <label for="name"></label><input type="text" id="name" name="name" />
    <input type="submit" value="전송"/>
    <input type="reset" value="취소"/>
</form>

</body>
</html>